

body{
    background #5CACEE;
}

#logo{
    width: 350px;
    height: 247px;
    margin: auto;
}

#logo img{
    width:350px;
    height:247px;
}

#caixa_login{
    background: #FFF;
    width:450px;
    height:300px;
    margin: -35px auto;
    border: 1px solid #CCC;
 
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    border-radius:5px;


}

#caixa_login table{
    font: 15px Arial, Helvetica, sans-serif;
    color: #666;
    margin:40px 10px 10px 10px;

}

#caixa_login h1{
        font :15px Arial, Helvetica, sans-serif;
        color: #666;
        margin: 10px 0 0 0;

}

#caixa_login input{
    font :15px Arial, Helvetica, sans-serif;
    color: #F60;
    height: 25px;
    padding :10px;
    width:400px;
    border:1px solid #CCC;

    
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    border-radius:5px;


}

#caixa_login .input {
    font: 15px Arial, Helvetica, sans-serif;
    color: #FFF;
    height: 40px;
    padding:10px;
    background: #060;
    cursor: pointer;
    width:80px;
    margin: 10px 0 0 0;
    border: 1px solid #CCC;
     -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}