.container {
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
}

.registrarAulasBtn {
  margin-top: 0.5em;
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.registrarAulasBtn:hover {
  background-color: #052337;
  color: #fff;
}

.breakText {
  word-break: break-all;
}

.buttonContainer {
  white-space: nowrap;
}

.registrarAulasBtn {
  display: inline-block;
  margin-right: 10px; /* Espaçamento entre os botões */
}

.buttonText {
  word-break: break-word;
}
