.button{
    border-radius: 8px;
    background-color: #25b456;
    color: #fff;
    border: none;
    min-width: 100px;
    min-height: 2.5em;
    width: 20%;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 1em;
}

.button:hover{

    background-color: #074a1f;
}