/* PaginaAluno.css */

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
    background-color: #183e8a; /* Adicione a cor de fundo aqui */
  }
  
  .linkbox {
    margin-top: 10px;
  }
  
  .link_box a {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    text-decoration: none;
  }
  
  .link-box a:hover {
    text-decoration: underline;
  }
  